/*custom font*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/


/*form styles*/
#msform {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
}
/*inputs, buttons*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
#msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:disabled {
    background: #9BCFB1;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin: 0 0 10px;
    font-weight: bold;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin: 0 0 20px;
}

/*msform-pbar*/
#msform-pbar {
    margin-bottom: 30px;
    counter-reset: step;
    text-align: center;
    /*overflow: hidden;*/

    float: right;
    position: relative;
    left: -50%;
}
#msform-pbar ul {
    margin: 0;
    padding: 0;

    position: relative;
    left: 50%;
}
#msform-pbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 120px;
    float: left;
    position: relative;
    cursor: pointer;

    position: relative;
}
#msform-pbar li:hover {
}
#msform-pbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 18px;
    line-height: 18px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 4px;
    border: 1px solid white;
    margin: 0 auto 5px auto;
}
/*msform-pbar connectors*/
#msform-pbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#msform-pbar li:first-child:after {
    content: none; /*connector not needed before the first step*/
}
#msform-pbar li.active:before,  #msform-pbar li.active:after,
#msform-pbar li.passed:before,  #msform-pbar li.passed:after {
    background: #27AE60;
    color: white;
}
#msform-pbar li.active:before {
    border: 1px solid white;
}
#msform-pbar li.passed:before {
    border: 1px solid #27AE60;
}
#msform-pbar li.blocked:before,  #msform-pbar li.blocked:after {
}

/*loading bar*/
#msform #msform-loading {
    color: silver;
    display: none;
    text-align: center;
}